* {
  margin: 0;
  padding: 0;
}

html {
  background: #2a2a2a;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 60px;
}

main {
  display: flex;
  flex-direction: column;
  height: 2000px;
}

@media all and (min-width: 800px) {
  section {
    display: flex;
    height: 500px;
    flex-direction: column;
    text-align: center;
    align-content: center;
    justify-content: center;
    font-family: "adobe-caslon-pro",serif;
    font-size: 30px;
  }

  .why {
    background: #f2f0e7;
    color: #2a2a2a;
    font-family: "adobe-caslon-pro",serif;
    font-size: 30px;
  }

  .inspiration {
    background: #f2f0e7;
    color: #2a2a2a;
  }
}


footer {
  display: flex;
  justify-content: flex-end;
  background: #2a2a2a;
  color: white;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  font: 16px "Century Gothic W01 Bold",sans-serif;
  color: black;
}

li {
  text-align: center;
  width: 20%;
}

li span {
  text-align: center;
  display:flex;
  margin-top: 15px;
  width: 100%;
}

a {
  /* box-sizing: border-box;
  display: inline-block; */
  padding: 1rem 0;
  text-decoration: none;
  width: 100%;
}

nav a:active,
a:hover {
  background-color: red;
  color: white;
}

p {
  margin: 1rem 0;
}

footer p {
  flex:auto;
  color: white;
}

footer p a {
  color: white;
}

@media all and (max-width: 400px) {
  .nav > li {
    flex-basis: 100%;
  }
  .search {
    order: 1;
  }
}

.nav {
  background: white;
  display: flex;
  height: 60px;
}


