
<main>
  <section class="what">
    <h1>Our Principles</h1>
    <p> An open source commmunity were we shares our principles in life so we can help each other learn and grow </p>
    <a href="#" class="">Learn more</a>
  </section>
  <section class="why">
    <h1>Why?</h1>
    <p> If we can share our principles, we can learn from each other </p>
  </section>
  <section class="how">
    <h1>How</h1>
    <p> I've created a platform where you can record your principles online. By sharing princples as a community we will be able to 
    leverage what others have learned.</p>
  </section>
  <section class="inspiration">
    <h1>Inspiration</h1>
    <p> An open source commmunity were we shares our principles in life so we can help each other learn and grow </p>
  </section>
</main>

<footer>
    <p>Check out my other <a href="http://www.bhavik-patel.com/">Projects</a>, by <a href="https://twitter.com/bhavikpatel576">@bhavikpatel576</a>.</p>
</footer>
